.Cell {
  display: block;
  
  &--title {
    font-family: "Lato", serif;
    font-size: 20px;
    hyphens: auto;
  }

  &--author {
    font-family: "Lato", serif;
    hyphens: auto;
  }

  &--tags {
    margin: 10px 0;
  }

  &--cover {
    float: right;
    display: flex;
    max-width: 100px;
  }
}
